<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Voto</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

 <form autocomplete="off" action="#" th:action="@{/docente/esito}"
                  th:object="${esito}" method="post" class="form-horizontal"
                  role="form">
                 <label th:if="${esito.getVoto()}!=null"><span th:text="${esito.getVoto()}"></span></label>
                 <label th:unless="${esito.getVoto()}!=null"><input type="number" th:field="*{voto}" placeholder="Voto" min="0" max="30">
                  <input type="hidden" name="id" id="id"	th:value="${esito.getId()}">
                 <button type="submit" class="btn btn-primary"></button></label>
</form>

</body>
</html>